# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# ----------------------------
# Generated ML artifacts
# ----------------------------
datasets/processed/

# ----------------------------
# Raw audio dataset
# ----------------------------
datasets/raw/audio/

# ----------------------------
# Model cache
# ----------------------------
models/

# Large FMA metadata (download separately)
datasets/metadata/features.csv
datasets/metadata/tracks.csv
datasets/metadata/raw_tracks.csv